# Ignore a temporary test file
test.py

# Ignore ubuntu os files
*.*~

#profile.yaml
*.pyc

# Audio files
*.wav
#*.mp3
*.flac
*.raw
*.aiff

# Image files
#*.jpg
*.jpeg
*.png
*.gif
*.bmp

#IDE configuration
.idea/*
workspace.xml
tasks.xml
*__pycache__*
