{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="row">
        <a href="{{ url_for('home.voice') }}" class="btn btn-default btn-block btn-primary server-btn">Speak with Jarvis</a>
        <a href="{{ url_for('home.text') }}" class="btn btn-default btn-block btn-danger server-btn">Chat with Jarvis</a>
    </div>
</main>
{% endblock %}
{% block js_files %}
<script>
    // Remove all active class
    $(".nav li").removeClass("active");
</script>
{% endblock %}
